:root {
  --color-primary: white;
  --color-secondary: #eec413;
}
.chakra-ui-dark {
  --color-primary: #121212;
  --color-secondary: #e48fff;
}

.theme-toggle {
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-toggle .sun {
  background: var(--color-secondary);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 4px solid var(--color-primary);
}
.theme-toggle .sun__ray {
  width: 1px;
  background: var(--color-secondary);
  display: block;
  height: 121%;
  position: absolute;
  z-index: -1;
  transition: 0.4s all, height 0.3s ease-in-out;
}
.theme-toggle .sun__ray:nth-child(1) {
  transform: rotate(calc(1 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(2) {
  transform: rotate(calc(2 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(3) {
  transform: rotate(calc(3 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(4) {
  transform: rotate(calc(4 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(5) {
  transform: rotate(calc(5 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(6) {
  transform: rotate(calc(6 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(7) {
  transform: rotate(calc(7 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(8) {
  transform: rotate(calc(8 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(9) {
  transform: rotate(calc(9 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(10) {
  transform: rotate(calc(10 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(11) {
  transform: rotate(calc(11 * calc(360deg / 12)));
}
.theme-toggle .sun__ray:nth-child(12) {
  transform: rotate(calc(12 * calc(360deg / 12)));
}
.theme-toggle:hover .sun__ray:nth-child(1) {
  transform: rotate(calc(calc(1 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(2) {
  transform: rotate(calc(calc(2 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(3) {
  transform: rotate(calc(calc(3 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(4) {
  transform: rotate(calc(calc(4 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(5) {
  transform: rotate(calc(calc(5 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(6) {
  transform: rotate(calc(calc(6 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(7) {
  transform: rotate(calc(calc(7 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(8) {
  transform: rotate(calc(calc(8 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(9) {
  transform: rotate(calc(calc(9 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(10) {
  transform: rotate(calc(calc(10 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(11) {
  transform: rotate(calc(calc(11 * calc(360deg / 12)) - 20deg));
}
.theme-toggle:hover .sun__ray:nth-child(12) {
  transform: rotate(calc(calc(12 * calc(360deg / 12)) - 20deg));
}

.moon {
  height: 23px;
  width: 23px;
  position: absolute;
  background: var(--color-primary); 
  border-radius: 50%;
  top: 0;
  right: 0;
  transition: 0.4s transform !important;
  transform: scale(0) translate(20%, -24%);
  z-index: 9;
  transform-origin: right;
}

.chakra-ui-dark .theme-toggle {
  background-color: var(--color-primary);
}
.chakra-ui-dark .theme-toggle:hover .moon {
  transform: scale(1) translate(8%, -28%);
}
.chakra-ui-dark .moon {
  transform: scale(1) translate(20%, -24%);
}
.chakra-ui-dark .theme-toggle .sun__ray {
  height: 0;
  transition: 0.4s, transform 0.4s, height 0.2s 0.1s;
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(1) {
  transform: rotate(calc(calc(1 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(2) {
  transform: rotate(calc(calc(2 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(3) {
  transform: rotate(calc(calc(3 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(4) {
  transform: rotate(calc(calc(4 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(5) {
  transform: rotate(calc(calc(5 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(6) {
  transform: rotate(calc(calc(6 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(7) {
  transform: rotate(calc(calc(7 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(8) {
  transform: rotate(calc(calc(8 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(9) {
  transform: rotate(calc(calc(9 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(10) {
  transform: rotate(calc(calc(10 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(11) {
  transform: rotate(calc(calc(11 * calc(360deg / 12)) - 45deg));
}
.chakra-ui-dark .theme-toggle .sun__ray:nth-child(12) {
  transform: rotate(calc(calc(12 * calc(360deg / 12)) - 45deg));
}
